.employeeListContainer{
    text-align: justify;
    width: 22rem;
    margin: 2rem auto;
    ul{
        list-style: none;
        
    }
    li{
        margin: .5rem auto;
        border: solid black 1px;
        padding: 1rem;
    }
    
}